{% extends 'PaperlitBundle::layout.html.twig' %}

{% block title %}Ingresar{% endblock %}

{% block body -%}
    <h1>Login</h1>

    {% if error %}
    <div>{{ error.message }}</div>
    {% endif %}

    <form class="form-inline" action="{{ path('login_check') }}" method="post">
        <input type="text" name="_username" id="username" placeholder="Usuario" value="{{ last_username }}" />
        <input type="password" class="input-small" name="_password" id="password" placeholder="Password" />
        <button class="btn btn-primary" type="submit">Ingresar</button>
    </form>
{% endblock %}
