{% extends 'PaperlitBundle::layout.html.twig' %}

{% block title %}Editar Revista{% endblock %}

{% set active = 'revista' %}

{% block body -%}
    <h1>Editar Revista</h1>

    <form action="{{ path('revista_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <a class="btn" href="{{ path('revista') }}">
                Volver a la lista
            </a>
            <button class="btn btn-primary" type="submit">Guardar</button>
        </p>
    </form>
    <br />
    <form action="{{ path('revista_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Borrar Registro</button>
    </form>
{% endblock %}
