{% extends 'PaperlitBundle::layout.html.twig' %}

{% block title %}Revistas{% endblock %}

{% set active = 'revista' %}

{% block body -%}
    <h1>Lista de Revista</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Fecha de Creación</th>
                    <th>Ultima Modificación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('revista_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>
                    <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <a class="btn" href="{{ path('revista_show', { 'id': entity.id }) }}">Ver</a>
                        <a class="btn" href="{{ path('revista_edit', { 'id': entity.id }) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br />
        <a class="btn btn-primary" href="{{ path('revista_new') }}">Crear Revista<a/>
    {% endblock %}
