{% extends 'PaperlitBundle::layout.html.twig' %}

{% block title %}Nueva Revista{% endblock %}

{% set active = 'revista' %}

{% block body -%}
    <h1>Nueva Revista</h1>

    <form action="{{ path('revista_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <a class="btn" href="{{ path('revista') }}">Volver a la lista</a>
            <button type="submit" class="btn btn-primary">Crear Revista</button>
        </p>
    </form>
{% endblock %}
