{% extends 'PaperlitBundle::layout.html.twig' %}

{% block title %}Ver Revista{% endblock %}

{% set active = 'revista' %}

{% block body -%}
    <h1>Revista</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Fecha de Creación</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fecha de Modificación</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('revista') }}">
        Volver a la lista
    </a>

    <a class="btn" href="{{ path('revista_edit', { 'id': entity.id }) }}">
        Editar
    </a>
    <br />
    <br />
    <form action="{{ path('revista_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Borrar Registro</button>
    </form>
{% endblock %}
