{% extends 'PaperlitBundle::layout.html.twig' %}

{% block title %}Editoriales{% endblock %}

{% set active = 'editorial' %}

{% block body -%}
    <h1>Lista de Editoriales</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Fecha de Creación</th>
                <th>Fecha de Modificación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('editorial_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.address }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn" href="{{ path('editorial_show', { 'id': entity.id }) }}">Ver</a>
                    <a class="btn" href="{{ path('editorial_edit', { 'id': entity.id }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('editorial_new') }}">
        Crear Editorial
    </a>
    {% endblock %}
