{% extends 'PaperlitBundle::layout.html.twig' %}

{% block title %}Nueva Editorial{% endblock %}

{% set active = 'editorial' %}

{% block body -%}
    <h1>Nueva Editorial</h1>

    <form action="{{ path('editorial_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <a class="btn" href="{{ path('editorial') }}">Volver a la lista</a>
            <button type="submit" class="btn btn-primary">Crear Editorial</button>
        </p>
    </form>
{% endblock %}
