<!DOCTYPE html>
<html lang="es" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Welcome!{% endblock %} - Paperlit SSO</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% javascripts output='js/modernizr.min.js' filter='yui_js' debug=false
        '@PaperlitBundle/Resources/public/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js'
        -%}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    {% set active = active|default(null) %}
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="{{ path('paperlit_homepage') }}">Paperlit SSO</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li {% if 'homepage' == active %}class="active"{% endif %}><a href="{{ path('paperlit_homepage') }}">Home</a></li>
                            <li {% if 'usuario' == active %}class="active"{% endif %}><a href="{{ path('usuario') }}">Usuarios</a></li>
                            <li {% if 'editorial' == active %}class="active"{% endif %}><a href="{{ path('editorial') }}">Editoriales</a></li>
                            <li {% if 'revista' == active %}class="active"{% endif %}><a href="{{ path('revista') }}">Revistas</a></li>
                            <li {% if 'suscripcion' == active %}class="active"{% endif %}><a href="{{ path('suscripcion') }}">Suscripciones</a></li>
                            <li {% if 'suscriptor' == active %}class="active"{% endif %}><a href="{{ path('suscriptor') }}">Suscriptores</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container">
        {% block body %}{% endblock %}
        </div> <!-- /container -->
        {% block javascripts %}{% endblock %}
    </body>
</html>