{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets output='css/styles.css' filter='cssrewrite, yui_css' debug=false
    '@PaperlitBundle/Resources/public/css/bootstrap.css'
    '@PaperlitBundle/Resources/public/css/bootstrap-responsive.css'
    -%}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    <style>
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
    </style>
    {% endstylesheets %}
{% endblock %}

{% block body -%}

{% endblock %}

{% block javascripts %}
    {% javascripts output='js/scripts.js' filter='yui_js' debug=false
    '@PaperlitBundle/Resources/public/js/vendor/jquery-1.10.2.js'
    '@PaperlitBundle/Resources/public/js/vendor/bootstrap.js'
    -%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}