{% extends 'PaperlitBundle::layout.html.twig' %}

{% block title %}Editar Suscriptor{% endblock %}

{% set active = 'suscriptor' %}

{% block body -%}
    <h1>Suscriptor edit</h1>

    <form action="{{ path('suscriptor_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <a class="btn" href="{{ path('suscriptor') }}">Volver a la lista</a>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </p>
    </form>
    <form action="{{ path('suscriptor_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Borrar Registro</button>
    </form>
{% endblock %}
