{% extends 'PaperlitBundle::layout.html.twig' %}

{% block title %}Suscriptores{% endblock %}

{% set active = 'suscriptor' %}

{% block body -%}
    <h1>Lista de Suscriptores</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre de Usuario</th>
                <th>Contraseña</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Numero de Cliente</th>
                <th>Fecha de Creación</th>
                <th>Fecha de Modificación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('suscriptor_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.password }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.number }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn" href="{{ path('suscriptor_show', { 'id': entity.id }) }}">Ver</a>
                    <a class="btn" href="{{ path('suscriptor_edit', { 'id': entity.id }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('suscriptor_new') }}">
        Crear Suscriptor
    </a>
    {% endblock %}
