{% extends 'PaperlitBundle::layout.html.twig' %}

{% block title %}Nuevo Suscriptor{% endblock %}

{% set active = 'suscriptor' %}

{% block body -%}
    <h1>Nuevo Suscriptor</h1>

    <form action="{{ path('suscriptor_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <a class="btn" href="{{ path('suscriptor') }}">Volver a la lista</a>
            <button type="submit" class="btn btn-primary">Crear Suscriptor</button>
        </p>
    </form>
{% endblock %}
