{% extends 'PaperlitBundle::layout.html.twig' %}

{% block title %}Ver Suscriptor{% endblock %}

{% set active = 'suscriptor' %}

{% block body -%}
    <h1>Suscriptor</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre de Usuario</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Contraseña</th>
                <td>{{ entity.password }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Numero de Cliente</th>
                <td>{{ entity.number }}</td>
            </tr>
            <tr>
                <th>Fecha de Creación</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Ultima Modificación</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>


    <a class="btn" href="{{ path('suscriptor') }}">
        Volver a la lista
    </a>

    <a class="btn" href="{{ path('suscriptor_edit', { 'id': entity.id }) }}">
        Editar
    </a>

    <br /><br />

    <form action="{{ path('suscriptor_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Borrar Suscriptor</button>
    </form>

{% endblock %}
