{% extends 'PaperlitBundle::layout.html.twig' %}

{% block title %}Suscripciones{% endblock %}

{% set active = 'suscripcion' %}

{% block body -%}
    <h1>Lista de Suscripciones</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Termino</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('suscripcion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.beginDate %}{{ entity.beginDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.endDate %}{{ entity.endDate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <a class="btn" href="{{ path('suscripcion_show', { 'id': entity.id }) }}">Ver</a>
                    <a class="btn" href="{{ path('suscripcion_edit', { 'id': entity.id }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('suscripcion_new') }}">
        Crear Suscripción
    </a>
    {% endblock %}
