{% extends 'PaperlitBundle::layout.html.twig' %}

{% block title %}Nueva Suscripción{% endblock %}

{% set active = 'suscripcion' %}

{% block body -%}
    <h1>Nueva Suscripción</h1>

    <form action="{{ path('suscripcion_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <a class="btn" href="{{ path('suscripcion') }}">
                Volver a la lista
            </a>
            <button class="btn btn-primary" type="submit">Crear Suscripción</button>
        </p>
    </form>


{% endblock %}
