{% extends 'PaperlitBundle::layout.html.twig' %}

{% block title %}Ver Suscripción{% endblock %}

{% set active = 'suscripcion' %}

{% block body -%}
    <h1>Suscripcion</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fecha de Inicio</th>
                <td>{{ entity.beginDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Fecha de Termino</th>
                <td>{{ entity.endDate|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>


    <a class="btn" href="{{ path('suscripcion') }}">
        Volver a la lista
    </a>

    <a class="btn" href="{{ path('suscripcion_edit', { 'id': entity.id }) }}">
        Editar
    </a>
    <br /> <br />
    <form action="{{ path('suscripcion_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Borrar Registro</button>
    </form>
{% endblock %}
