{% extends 'PaperlitBundle::layout.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% set active = 'usuario' %}

{% block body -%}
    <h1>Lista de Usuarios</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Fecha de Creación</th>
                <th>Ultima Modificación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.email }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn" href="{{ path('usuario_show', { 'id': entity.id }) }}">Ver</a>
                    <a class="btn" href="{{ path('usuario_edit', { 'id': entity.id }) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No se han ingresado usuarios a la base de datos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br />
    <a class="btn btn-primary" href="{{ path('usuario_new') }}">Crear Usuario</a>

    {% endblock %}
