{% extends 'PaperlitBundle::layout.html.twig' %}

{% block title %}Nuevo Usuario{% endblock %}

{% set active = 'usuario' %}

{% block body -%}
    <h1>Nuevo Usuario</h1>

    <form action="{{ path('usuario_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <a class="btn" href="{{ path('usuario') }}">Volver a la lista</a>
            <button type="submit" class="btn btn-primary">Crear Usuario</button>
        </p>
    </form>

    {% endblock %}
