{% extends 'PaperlitBundle::layout.html.twig' %}

{% block title %}Ver Usuario{% endblock %}

{% set active = 'usuario' %}

{% block body -%}
    <h1>Usuario</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre de Usuario</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Contraseña</th>
                <td>{{ entity.password }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Fecha de Creación</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fecha de Modificación</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('usuario') }}">
        Volver a la lista
    </a>
    <a class="btn" href="{{ path('usuario_edit', { 'id': entity.id }) }}">
        Editar
    </a>
    <br /><br />
    <form action="{{ path('usuario_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Borrar Registro</button>
    </form>
{% endblock %}
